<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<div th:replace="html/fragment/header.html :: f-header"></div>
	<link rel="stylesheet" th:href="@{/css/realtor-signup-check.css}">
</head>

<body>
	<div id="wrapper">
		<div id="preloader">
			<div id="status">&nbsp;</div>
		</div>
		<!-- Body content -->
		<div th:replace="html/fragment/nav.html :: f-nav"></div>
		<div class="container" style="padding-bottom: 120px;">
			<div class="col-md-6" style=" top: 50%; left: 50%;transform: translate(-50%, 0%);">
				<div class="box-for overflow" style="margin-top:8%; ">
					<div class="col-md-12 col-xs-12 login-blocks">
						<h2>가입 승인 조회</h2>
						<div id="realtorNameSection" class="form-group">
							<label for="realtorName">이름</label>
							<input type="text" class="form-control" id="realtorName" placeholder="홍길동"></input>
							<p id="nameEmptyMsg" style="color:red;margin:0;display:none;"></p>
						</div>
						<div id="realtorPhoneSection" class="form-group">
							<label for="realtorName">전화번호</label>
							<input type="text" class="form-control" id="realtorPhone" placeholder="010-0000-0000"
								maxlength="13"></input>
							<p id="phoneEmptyMsg" style="color:red;margin:0;display:none;"></p>
						</div>
						<div id="realtorRegistrationNumSection" class="form-group">
							<label for="realtorName">중개사 등록번호</label>
							<input type="text" class="form-control" id="realtorRegistrationNum"
								placeholder="00000-0000-00000" maxlength="16"></input>
							<p id="registrationNumEmptyMsg" style="color:red;margin:0;display:none;"></p>
						</div>
						<div id="checkArea">
							<div class="form-group">
								<label>승인 여부</label>
								<p id="realtorSignupStatus"></p>
							</div>
							<div id="realtorRefuseReasonContainer" class="form-group" style="display: none;">
								<label>거부 사유</label>
								<p id="realtorRefuseReason"></p>
							</div>
						</div>
						<div class="text-center">
							<button id="checkSignupBtn" class="btn btn-default">조회하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 이거 얘만 조금 다르게 보여야되서 이렇게 한거니까 건드리지 말아주세요 -->
	<!-- Footer area-->
	<!-- <div class="footer-area" th:fragment="f-footer" style="position: relative; transform: translateY(-100%);">
		<div class="footer" style="padding-bottom: 5px;">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single-footer" style="margin-top: 5px;">
							<h4>About us </h4>
							<div class="footer-title-line" style="margin: 0px 0px 5px;"></div>
							<p style="padding-bottom: 5px;">4팀 프로젝트</p>
							<p style="padding-bottom: 5px;">(김용준, 김정훈, 류승호, 이원기, 홍동인)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div style="position: relative; transform: translateY(-100%);">
		<div th:replace="html/fragment/footer.html :: f-footer"></div>
	</div>
	<script th:src="@{/js/realtor-signup-check.js}"></script>
</body>

</html>