<!DOCTYPE html>
<html>
    <nav class="navbar navbar-default "  th:fragment="f-header">
        <link rel="stylesheet" href="/css/header.css">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="topLogo" href="/"><img src="/imgs/logo.png" alt="logo" style="width: 100px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button login" id="loginHead"></button>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
					<li><a class="menu" href="/html/admin/admin-notice">공지사항</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
		<script th:src="@{/js/head/alarm.js}"></script>
        <script th:src="@{/js/head/head.js}"></script>
        </div><!-- /.container-fluid -->
    </nav>
</html>