<!DOCTYPE html>
<html>
<!-- Footer area-->
<div class="footer-area" th:fragment="f-footer">
    <div class="footer" style="padding-bottom: 5px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer" style="margin-top: 5px;">
                        <h4>About us </h4>
                        <div class="footer-title-line" style="margin: 0px 0px 5px;"></div>
                        <p style="padding-bottom: 5px;">4팀 프로젝트</p>
                        <p style="padding-bottom: 5px;">(김용준, 김정훈, 류승호, 이원기, 홍동인)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-hover-dropdown.js}"></script>
    <script th:src="@{/assets/js/easypiechart.min.js}"></script>
    <script th:src="@{/assets/js/jquery.easypiechart.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/wow.js}"></script>
    <script th:src="@{/assets/js/icheck.min.js}"></script>
    <script th:src="@{/assets/js/price-range.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</div>

</html>