<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<div th:replace="html/fragment/header.html :: f-header"></div>
</head>

<body>
	<div id="wrapper">
		<div id="preloader">
			<div id="status">&nbsp;</div>
		</div>
		<div th:replace="html/fragment/nav.html :: f-nav"></div>
		<!-- Body content -->
		<div class="register-area" style="background-color: rgb(249, 249, 249);padding-bottom: 150px;">
			<div class="container">
				<div class="col-md-6">
					<div class="box-for overflow" style="height: 300px; border-radius: 30px;">
						<div class="col-md-12 col-xs-12 register-blocks">
							<form action="" method="post">
								<div class="descript" onclick="location.href='/html/admin/confirm'">
									<img src="/imgs/visa.png" alt="회원가입 요청"
										style=" width:180px; height:150px; display: block; margin:auto; margin-top: 9%;"><br>
									<div style="font-size: 20px; font-weight: bold; text-align: center;">공인중개사 회원가입 요청!
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box-for overflow" style="height: 300px; border-radius: 30px;">
						<div class="col-md-12 col-xs-12 login-blocks">
							<form action="" method="post">
								<div class="descript" onclick="location.href='/html/admin/admin-notice'">
									<img src="/imgs/promotion.png" alt="공지사항"
										style=" width:200px; height:150px;display: block; margin:auto; margin-top: 10%;">
									<div style="font-size: 20px; font-weight: bold; text-align: center;">공지사항</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative; transform: translateY(-100%);">
		<div th:replace="html/fragment/footer.html :: f-footer"></div>
	</div>
</body>

</html>